{% extends "restricted/base.html" %}
{% load macros %}

{% macro process_table progs %}
{% if progs %}
<table>
    {% for p in progs %}
    <tr>
        <td>{{p.started.date}}</td>
        <td><a href="{% url restricted_nmstatus key=p.lookup_key %}">{{p.person}}</a></td>
        <td>TODO: log</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p><i>none</i></p>
{% endif %}
{% endmacro %}

{% block breadcrumbs %}{{block.super}} / <a href="{% url restricted_ammain %}">ammain</a>{% endblock %}

{% block relatedpages %}
<a href="{% url public_person key=person.lookup_key  %}">personal page</a>
{% if am.is_fd or am.is_dam %}
<a href="{% url admin:backend_person_add %}">new person</a>
{% endif %}
{{block.super}}
{% endblock %}

{% block content %}

<h1>Debian New Member</h1>

<p>Currently the database thinks you have the following functions:</p>
<ul>
    {% if am.is_am %}<li>Application Manager</li>{% endif %}
    {% if am.is_fd %}<li>Front Desk</li>{% endif %}
    {% if am.is_dam %}<li>Debian Account Manager</li>{% endif %}
</ul>

{% if am.is_fd or am.is_dam %}

<h2>Front Desk</h2>

<p>The following managers have free slots (#free/#slots):
<ul>
    {% for a in am_available %}
    <li><a href="{% url restricted_amprofile uid=a.person.uid %}">{{a.person.uid}}</a>
        ({{a.stats_free}}/{{a.slots}})</li>
    {% endfor %}
</ul>
</p>

<p>The following applicants are waiting for an Application Manager to be
assigned (first one is oldest).</p>
{% usemacro process_table prog_app_ok %}

<p>Applicants currently not ready to be assigned to an AM (ordered by hold date):</p>
{% usemacro process_table prog_app_hold %}

<p>Applicants assigned to AM but AM has not confirmed:</p>
{% usemacro process_table prog_am_rcvd %}

<p>The reports of the following applicants approved by their AM need to be
checked:</p>
{% usemacro process_table prog_am_ok %}

<p>The following applicants have incomplete AM reports (ordered by hold date):</p>
{% usemacro process_table prog_fd_hold %}


<h2>Debian Account Manager</h2>

<p>The following applicants have been approved by the NM committee and the FD
but a DAM has not fully processed them yet (sorted by FD approval):</p>
{% usemacro process_table prog_fd_ok %}

<p>Applicants approved by a DAM, but for which no account has been created yet:</p>
{% usemacro process_table prog_dam_ok %}

<p>These are applications that have been put on hold at the DAM stage
(sorted by hold date):</p>
{% usemacro process_table prog_dam_hold %}

{% endif %}

<h2>Application Manager</h2>

<p>Hello <b>{{person.uid}}</b>, here is a list of New Member applicants that
you are the AM for:</p>

<h3>Applicants to Accept</h3>

<p>These applicants have been assigned to you by the Front Desk but you have
not confirmed that you will or will not be their AM (ordered by assignment
date).</p>
{% usemacro process_table am_prog_rcvd %}

<h3>Applicants to process</h3>

<p>The following applicants you are the AM for (ordered by the date you
accepted them as NMs):</p>
{% usemacro process_table am_prog_am %}

<h3>Applicants on Hold</h3>

<p>Applicants who make it here have some issue with completing the process but
are expected to be able to work around that soon (ordered by hold date).</p>
{% usemacro process_table am_prog_hold %}

<h3>Processed Applicants</h3>

<p>These applicants you have processed through the system and are here for
historical or informational purposes (ordered by account creation date).</p>
{% usemacro process_table am_prog_done %}

{% comment %}
                      <H2>Key</H2>
                      <UL>
                          <LI><IMG src="images/shake.png" alt="V" width="16" height="16"> : Advocate Check ok
                          <LI><IMG src="images/mag.png" alt="I" width="16" height="16"> : Identification complete
                          <LI><IMG src="images/dfsg.png" alt="P" width="16" height="16"> : Philosophy and Procedures complete
                          <LI><IMG src="images/hammer.png" alt="T" width="16" height="16"> : Tasks and Skills complete
                          <LI><IMG src="images/thumb.png" alt="A" width="16" height="16"> : Application Manager Recommends applicant
                          <LI><IMG src="images/new.png" alt="N" width="16" height="16"> : New Debian developer
                          <LI><IMG src="images/hold.png" alt="H" width="16" height="16"> : On hold
                      </UL>
                  </div> <!-- end maincol -->

{% endcomment %}

{% endblock %}

