{% extends "restricted/base.html" %}
{% load const %}

{% block breadcrumbs %}{{block.super}} / <a href="{{person.get_absolute_url}}">{{person.uid}}</a> / <a href="{% url restricted_amprofile uid=person.uid %}">am settings</a>{% endblock %}

{% block content %}

<h1>Debian New Member - Profile</h1>

<table class="personinfo">
    <tr><th>First name</th><td>{{person.cn}}</td></tr>
    <tr><th>Middle name</th><td>{{person.mn|default:""}}</td></tr>
    <tr><th>Last name</th><td>{{person.sn|default:""}}</td></tr>
    <tr><th>Email</th><td>{{person.email}}</td></tr>
    <tr><th>Account name</th><td>{{person.uid|default:"none chosen yet"}}</td></tr>
    <tr><th>OpenPGP fingerprint</th><td>{{person.fpr}}</td></tr>
    <tr><th>Current status</th><td>{{person.status}}</td></tr>
    {% if can_edit %}
    <tr><th>FD comments</th><td>{{person.fd_comment}}</td></tr>
    {% endif %}
</table>

<h2>Change AM details</h2>

<form action="{% url restricted_amprofile uid=person.uid %}" method="post">{% csrf_token %}
<table class="personinfo">
    {% for field in form %}
    <tr>
        <th>{{field.label_tag}}</th>
        <td>{{field}} {{field.errors}}</td>
    </tr>
    {% endfor %}
</table>
    <input type="submit" value="Change">
</form>

<h2>Applicants</h2>

<table>
{% for p in processes %}
<tr>
    <td>{{p.started.date}}</td>
    <td>{{p.progress|desc_progress}}</td>
    <td><a href="{% url restricted_nmstatus key=p.lookup_key %}">{{p.person}}</a></td>
    <td>TODO: logs</td>
</tr>
{% endfor %}
</table>

{% endblock %}

