{% extends "restricted/base.html" %}

{% block breadcrumbs %}{{block.super}} / <a href="{% url restricted_amprofile uid=person.uid %}">am {{person.uid}}</a>{% endblock %}

{% block content %}

<h1>Debian New Member - Profile</h1>

<h2>Change AM details</h2>

<form action="{% url restricted_amprofile uid=person.uid %}" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>

<h2>Applicants</h2>

<table>
{% for p in processes %}
<tr>
    <td>{{p.started.date}}</td>
    <td>{{p.progress}}</td>
    <td>{{p.person}}</td>
    <td>TODO: logs</td>
</tr>
{% endfor %}
</table>

{% endblock %}

