{% extends "restricted/base.html" %}
{% load const %}

{% block breadcrumbs %}{{block.super}} / <a href="{% url restricted_amstatus key=process.lookup_key %}">{{process}}</a>{% endblock %}

{% block relatedpages %}
{{block.super}}
<a href="{% url public_nmstatus key=process.lookup_key  %}">public version</a>
{% endblock %}

{% block head %}
{{block.super}}
<script src="{{ MEDIA_URL }}js/jquery-1.7.1.min.js"></script>
<script type="text/javascript">
$(function() {
    var prog = $("#id_progress");
    var text = $("#id_logtext");
    $("#macro_idok").click(function() {
        prog.val("{{PROGRESS_AM}}");
        text.val("ID check passed");
    });
    $("#macro_ppok").click(function() {
        prog.val("{{PROGRESS_AM}}");
        text.val("P&P check passed");
    });
    $("#macro_tsok").click(function() {
        prog.val("{{PROGRESS_AM}}");
        text.val("T&S check passed");
    });
    $("#macro_approve").click(function() {
        prog.val("{{PROGRESS_AM_OK}}");
        text.val("Application approved");
    });
    $("#macro_hold").click(function() {
        prog.val("{{PROGRESS_AM_HOLD}}");
        text.val("Set on hold because of FILLME");
    });
    $("#macro_unhold").click(function() {
        prog.val("{{PROGRESS_AM}}");
        text.val("Back from hold");
    });
});

</script>
{% endblock %}

{% block content %}

<h1><a href="http://qa.debian.org/developer.php?login={{person.email}}">{{person.fullname}}</a></h1>

<h2>Personal information</h2>

<table class="personinfo">
    <tr><th>First name</th><td>{{person.cn}}</td></tr>
    <tr><th>Midtle name</th><td>{{person.mn|default:""}}</td></tr>
    <tr><th>Last name</th><td>{{person.sn|default:""}}</td></tr>
    <tr><th>Email</th><td>{{person.email}}</td></tr>
    <tr><th>Account name</th><td>{{person.uid|default:"none chosen yet"}}</td></tr>
    <tr><th>OpenPGP fingerprint</th><td>{{person.fpr}}</td></tr>
    <tr>
        <th>Advocate{{process.advocates.count|pluralize}}</th>
        <td>
            {% for a in process.advocates.all %}
            {% if a.is_am %}
            <a href="{% url restricted_amprofile uid=a.uid %}">{{a.uid}}</a>{% if not forloop.last %},{% endif %}
            {% else %}
            {{a.uid}}{% if not forloop.last %},{% endif %}
            {% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr><th>Current status</th><td>{{person.status}}</td></tr>
    {% if can_edit %}
    <tr><th>FD comments</th><td>{{person.fd_comment}}</td></tr>
    {% endif %}
</table>
{% if can_edit %}
<a href="{% url restricted_person key=person.lookup_key %}">Edit personal information</a>
{% endif %}

<h2>Progress to become {{ process.applying_for|desc_status }}</h2>

<p>Current progress is: <b>{{ process.progress|desc_progress }}</b>.</p>

{% if can_edit %}
<form action="{% url restricted_amstatus key=process.lookup_key %}" method="post">{% csrf_token %}
    {{ form.as_p }}
<p>
Shortcuts:
{% if process.progress == PROGRESS_AM %}
<button type="button" id="macro_idok">ID check ok</button>
<button type="button" id="macro_ppok">P&amp;P ok</button>
<button type="button" id="macro_tsok">R&amp;S ok</button>
<button type="button" id="macro_approve">Approve applicant</button>
<button type="button" id="macro_hold">On hold</button>
{% endif %}
{% if process.progress == PROGRESS_AM_HOLD %}
<button type="button" id="macro_unhold">Back from hold</button>
{% endif %}
</p>

    <input type="submit" value="Update" />
</form>
{% endif %}

<h2>Progress log</h2>

<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>By</th>
            <th>Progress</th>
            <th>Text</th>
        </tr>
    </thead>
    <tbody>
    {% for l in log %}
    <tr>
        <td>{{l.logdate}}</td>
        <td>
            {% if l.changed_by.is_am %}
            <a href="{% url restricted_amprofile uid=l.changed_by.uid %}">{{l.changed_by.uid}}</a>
            {% else %}
            {{l.changed_by.uid}}
            {% endif %}
        </td>
        <td>{{l.progress|desc_progress}}</td>
        <td>{{l.logtext}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
