{% extends "restricted/base.html" %}
{% load const %}

{% block breadcrumbs %}{{block.super}} / <a href="{% url restricted_amstatus procid=process.id %}">{{process}}</a>{% endblock %}

{% block relatedpages %}
{{block.super}}
<a href="{% url public_nmstatus procid=process.id  %}">public version</a>
{% endblock %}

{% block content %}

<h1><a href="http://qa.debian.org/developer.php?login={{person.email}}">{{person.fullname}}</a></h1>

<h2>Personal information</h2>

<table class="personinfo">
    <tr><th>First name</th><td>{{person.cn}}</td></tr>
    <tr><th>Midtle name</th><td>{{person.mn|default:""}}</td></tr>
    <tr><th>Last name</th><td>{{person.sn|default:""}}</td></tr>
    <tr><th>Email</th><td>{{person.email}}</td></tr>
    <tr><th>Account name</th><td>{{person.uid|default:"none chosen yet"}}</td></tr>
    <tr><th>OpenPGP fingerprint</th><td>{{person.fpr}}</td></tr>
    <tr><th>Current status</th><td>{{person.status}}</td></tr>
    {% if can_edit %}
    <tr><th>FD comments</th><td>{{person.fd_comment}}</td></tr>
    {% endif %}
</table>
{% if can_edit %}
<a href="{% url restricted_person key=person.lookup_key %}">Edit personal information</a>
{% endif %}

<h2>Progress to become {{ process.applying_for|desc_status }}</h2>

Current progress is: <b>{{ process.progress|desc_progress }}</b>.

{% if can_edit %}
<form action="{% url restricted_amstatus procid=process.id %}" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
{% endif %}

<h2>Progress log</h2>

<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>By</th>
            <th>Progress</th>
            <th>Text</th>
        </tr>
    </thead>
    <tbody>
    {% for l in log %}
    <tr>
        <td>{{l.logdate}}</td>
        <td>
            {% if l.changed_by.is_am %}
            <a href="{% url restricted_amprofile uid=l.changed_by.uid %}">{{l.changed_by.uid}}</a>
            {% else %}
            {{l.changed_by.uid}}
            {% endif %}
        </td>
        <td>{{l.progress|desc_progress}}</td>
        <td>{{l.logtext}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
