{% extends "restricted/base.html" %}
{% load const %}

{% block breadcrumbs %}{{block.super}} / <a href="{% url restricted_amlist %}">amlist</a>{% endblock %}

{% block relatedpages %}
{{block.super}}
<a href="{% url public_nmlist %}">public version</a>
{% endblock %}

{% block content %}

<h1>Debian New Member - All applicants</h2>

<div id="intro">
This is a list of all applicants known to the database. This list is sorted by
application date. Applicants who are now members are not shown in this list.
</div>

<table>
    <thead>
        <tr><th>Appl date</th><th>Progress</th><th>Applicant</th><th>Manager</th><th>Log</th></ht>
    </thead>
    <tbody>
        {% for p in procs %}
        <tr>
            <td>{{p.started.date}}</td>
            {% comment %}
            TODO: use the icons when we have them all
            <td><img width="16" height="16" src="{{ MEDIA_URL }}css/images/{{p.progress}}.png" title="{{p.progress|desc_progress}}"></td>
            {% endcomment %}
            <td>{{p.progress|desc_progress}}</td>
            <td><a href="{% url restricted_nmstatus key=p.lookup_key %}">{{p.person}}</a></td>
            <td>
                {% if p.manager %}
                <a href="{% url restricted_amprofile uid=p.manager.person.uid %}">{{p.manager.person.uid}}</a>
                {% else %}
                {% endif %}
            </td>
            <td>TODO: log</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

