{% extends "restricted/base.html" %}
{% load const %}

{% block breadcrumbs %}{{block.super}}
{% if active_process %}
/ <a href="{% url restricted_amstatus key=active_process.lookup_key %}">{{active_process}}</a>
{% endif %}
{% endblock %}

{% block content %}

<h1>Edit personal information for {{person.fullname}}</h1>

<form action="{% url restricted_person key=person.lookup_key %}" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>

{% endblock %}

