/*
 * Add tweaks specific to your site. Try to keep this as small as possible and
 * do not override default settings unless absolutely necessary. Small changes
 * will in time accumulate and result in the sites diverging. Consistency
 * across sites is important and this includes details.
 */

@import url("debian.css");

div.personbio {
    cursor: pointer
}

div.personbio .expanded {
    display: none;
}
div.personbio .collapsed:hover .expander {
    color: #0035c7;
}

/* expanded version of short bio is initially hidden */
table.personinfo td.personbio#expandedbio {
    white-space: pre-line;
    display: none;
}

/* JQuery tablesorter common layout */
table.tablesorter th {
    cursor: pointer
}

table.tablesorter tr.clickable {
    cursor: pointer
}

table.tablesorter#mailstable tr.showable {
    display: none
}

table.tablesorter th.headerSortUp {
}
table.tablesorter th.headerSortUp:after {
    content: "▲";
}
table.tablesorter th.headerSortDown {
}
table.tablesorter th.headerSortDown:after {
    content: "▼";
}

ul.horizontal {
    list-style-type: none;
}
ul.horizontal li {
    display: inline;
}

ul.menubar {
    list-style-type: none;
    margin: auto;
    margin-bottom: 1em;
}
ul.menubar li {
    display: inline;
    padding: 1em;
}
ul.menubar li a {
    text-decoration: none;
    font-weight: bold;
}

span.fpr {
    white-space: pre;
    font-family: monospace;
}

#checklist {
    float: right;
    clear: right;
    font-size: small;
    width: 33%;
}

/* HTML5 modal for languages */
a#langselector-link {
	text-align: right;
	float: right;
}
div.modalDialog#langselector {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

div.modalDialog#langselector:target {
    opacity:1;
    pointer-events: auto;
}

div.modalDialog#langselector > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

a.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

a.close:hover { background: #00d9ff; }
