/*
 * Add tweaks specific to your site. Try to keep this as small as possible and
 * do not override default settings unless absolutely necessary. Small changes
 * will in time accumulate and result in the sites diverging. Consistency
 * across sites is important and this includes details.
 */

@import url("debian.css");

div.personbio {
    cursor: pointer
}

div.personbio .expanded {
    display: none;
}
div.personbio .collapsed:hover .expander {
    color: #0035c7;
}

/* expanded version of short bio is initially hidden */
table.personinfo td.personbio#expandedbio {
    white-space: pre-line;
    display: none;
}

/* JQuery tablesorter common layout */
table.tablesorter th {
    cursor: pointer
}

table.tablesorter tr.clickable {
    cursor: pointer
}

table.tablesorter#mailstable tr.showable {
    display: none
}

table.tablesorter th.headerSortUp {
}
table.tablesorter th.headerSortUp:after {
    content: "▲";
}
table.tablesorter th.headerSortDown {
}
table.tablesorter th.headerSortDown:after {
    content: "▼";
}

ul.horizontal {
    list-style-type: none;
}
ul.horizontal li {
    display: inline;
}

ul.menubar {
    list-style-type: none;
    margin: auto;
    margin-bottom: 1em;
}
ul.menubar li {
    display: inline;
    padding: 1em;
}
ul.menubar li a {
    text-decoration: none;
    font-weight: bold;
}

span.fpr {
    white-space: pre;
    font-family: monospace;
}

#checklist {
    float: right;
    clear: right;
    font-size: small;
    width: 33%;
}

#langselector button {
    border: none;
    background: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: underline;
    color: blue;
    cursor: pointer;
    color: #0035c7;
    text-decoration: underline;
    margin: 0;
    padding: 0;
    display: inline;
}
#langselector button:hover {
    text-decoration: none;
    color: #00207a;
}
#langselector button.current {
    color: #54638c;
}
#langselector button.current:hover {
    text-decoration: none;
}
