{% extends "public/base.html" %}
{% load macros %}

{% macro process_table progs %}
{% if progs %}
<table>
    {% for p in progs %}
    <tr>
        <td>{{p.last_change.date}}</td>
        <td><a href="{% url public_nmstatus key=p.lookup_key %}">{{p.person}}</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p><i>none</i></p>
{% endif %}
{% endmacro %}

{% block breadcrumbs %}{{block.super}} / <a href="{% url public_nmlist %}">nmlist</a>{% endblock %}

{% block relatedpages %}
{{block.super}}
{% if cur_am %}
<a href="{% url restricted_nmelist %}">full version</a>
{% endif %}
{% endblock %}

{% block content %}

<h1>Debian New Member - Applicant List</h2>

<div id="intro">
This is a list of all applicants that exist in the database. If you have
applied then you should find yourself here somewhere. If you have passed all
checks and been approved as a Debian developer more than 6 months ago, you will
be listed on the Members page instead.
</div>

<ul>
    <li><a href="#no-adv">No Advocate</a></li>
    <li><a href="#unassigned">Un-Assigned</a></li>
    <li><a href="#assigned">Processed</a></li>
    <li><a href="#fd">Waiting for Front Desk</a></li>
    <li><a href="#dam">Waiting for DAM</a></li>
    <li><a href="#done">New Members</a></li>
    <li><a href="#hold">On hold</a></li>
</ul>

<h2 id="no-adv">Advocate</h2>

<p>The following applicants have applied, but either they have no advocate or
their advocate has not checked their application:</p>
{% usemacro process_table nm_no_adv %}


<h2 id="unassigned">Un-assigned Applicants</h2>

<p>The following applicants have applied and passed the advocate check, but the
Front Desk has not assigned an Application Manager yet:</p>
{% usemacro process_table nm_unassigned %}

<p>The following applicants are on hold because the Front Desk is evaluating
their previous contributions to Debian:</p>
{% usemacro process_table nm_app_hold %}


<h2 id="assigned">Applicants being processed</h2>

<p>The following applicants have been assigned an Application Manager and are
currently being processed:</p>
{% usemacro process_table nm_assigned %}


<h2 id="fd">Applicants waiting for Front Desk approval</h2>

<p>The following applicants have passed through all steps and are now waiting
for the Front Desk to check if their report is complete:</p>
{% usemacro process_table nm_fd %}

<p>The following applicants have passed through all steps, but the Front Desk
found that their report is not complete:</p>
{% usemacro process_table nm_fd_hold %}


<h2 id="dam">Applicants waiting for DAM approval</h2>

<p>The following applicants have passed through all steps and are now waiting
for the DAM to review their application:</p>
{% usemacro process_table nm_dam %}

<p>The following applicants have passed through all steps and are now waiting
for keyring-maint and DSA to create their account:</p>
{% usemacro process_table nm_dam_ok %}

<p>The following applicants have passed through all steps, but they have been
put on hold by the DAM:</p>
{% usemacro process_table nm_dam_hold %}


<h2 id="done">New Members</h2>

<p>The following applicants have successfully passed through the New Member
process and should be official Debian developers:</p>
{% usemacro process_table nm_done %}


<h2 id="hold">Applicants on hold</h2>

<p>These following applicants have been put on hold due to some problem with
their application or for some other reason:</p>
{% usemacro process_table nm_hold %}



{% endblock %}

