{% extends "public/base.html" %}
{% load const %}

{% block breadcrumbs %}{{block.super}} / <a href="{% url processes %}">processes</a>{% endblock %}

{% block relatedpages %}
{{block.super}}
{% if cur_am %}
<a href="{% url restricted_nmstatus key=process.lookup_key  %}">full version</a>
{% endif %}
{% endblock %}

{% block content %}

<h1>Status Page for applicant: {{process.person}}</h1>

<h2>Applicant Status</h2>

<table class="personinfo">
    <tr><th>Received application</th><td>{{started.date}}</td></tr>
    <tr>
        <th>Advocate{{process.advocates.count|pluralize}}</th>
        <td>
            {% for a in process.advocates.all %}
            {{a.uid}}{% if not forloop.last %},{% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr><th>Account name</th><td>{{process.person.uid|default:"None yet"}}</td></tr>
    <tr><th>Time of Last Action</th><td>{{last_change}}</th></tr>
    <tr><th>Account created</th><td>{% if process.progress == PROGRESS_DONE %}yes{% else %}no{% endif %}</td></tr>
</table>

<h2>Process log</h2>

<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Changed by</th>
            <th>Progress</th>
        </tr>
    </thead>
    <tbody>
        {% for progress, changed_by, logdate in distilled_log %}
        <tr>
            <td>{{logdate.date}}</td>
            <td>{{changed_by}}</td>
            <td>{{progress|desc_progress}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Further Steps</h2>

<table>
    {% for step in steps %}
    <tr>
        {% if forloop.counter0 < curstep_idx %}
        <td>done</td>
        {% endif %}
        {% if forloop.counter0 == curstep_idx %}
        <td>current</td>
        {% endif %}
        {% if forloop.counter0 > curstep_idx %}
        <td>todo</td>
        {% endif %}
        </td>
        <td>{{step|desc_progress}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}

