{% extends "public/base.html" %}
{% load nm %}
{% load macros %}
{% load js %}

{% block head_resources %}
  {{block.super}}
  {% jsinclude "nm" %}
{% endblock %}

{% macro process_table processes %}
<table>
    <thead>
        <tr>
            <th>Applicant</th>
            <th>From</th>
            <th>To</th>
            <th>Applying for</th>
            <th>Progress</th>
            <th>AM</th>
            <th>Advocate(s)</th>
    </thead>
    <tbody>
        {% for p in processes %}
        <tr>
        <td><a href="{{ p.get_absolute_url }}" title="{{p.person.fullname}}">{{p.person.uid|default:p.person.fullname}}</a></td>
            <td>{{p.started.date}}</td>
            <td>{{p.ended.date}}</td>
            <td>{{p.applying_for|desc_status}} ({{p.is_active|yesno:"in progress,done"}})</td>
            <td>
                {% if p.is_active %}
                <a href="{% url public_progress progress=p.progress %}">{{p.progress|desc_progress}}</a>
                {% else %}
                {{p.progress|desc_progress}}
                {% endif %}
            </td>
            <td>
                {% if p.manager %}
                <a href="{{ p.manager.get_absolute_url }}" title="{{p.manager.person.fullname}}">{{p.manager.person.uid|default:"None"}}</a>
                {% else %}
                None
                {% endif %}
            </td>
            <td>
                {% for a in p.advocates.all %}
                <a href="{{ a.get_absolute_url }}" title="{{a.fullname}}">{{a.uid}}</a>{% if not forloop.last %},{% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}

{% block breadcrumbs %}{{block.super}} / <a href="{% url people %}">people</a> / {{person.uid|default:person.fullname}}{% endblock %}

{% block relatedpages %}
<a href="{{person.get_ddpo_url}}">DDPO</a>
<a href="{{person.get_ddportfolio_url}}">DDPortfolio</a>
{% if request.am.is_admin %}
<a href="{% url admin:backend_person_change person.id  %}">admin</a>
{% endif %}
{% if can_be_am %}
<a href="{% url admin:backend_am_add %}?person={{person.id}}">make am</a>
{% endif %}
{{block.super}}
{% endblock %}

{% block content %}

<h1>{{person.fullname}}</h1>

<table class="personinfo">
    <tr><th>Account name</th><td>{{person.uid|default:"None chosen yet"}}</td></tr>
    <tr><th>OpenPGP fingerprint</th><td>{{person.fpr|fingerprint}}</td></tr>
    <tr><th>Status</th><td>{{person.status|desc_status}} since {{person.status_changed|date:"Y-m-d"}}</td></tr>
    {% if am %}
    <tr>
        <th>Application manager</th>
        <td>
            {% if am.is_am %}active,{% endif %}
            {% if am.is_fd %}fd,{% endif %}
            {% if am.is_dam %}dam,{% endif %}
            {% if am.is_am_ctte %}am ctte,{% endif %}
            {{person.am.processed.count}} applicants processed
            {% if request.am == am or request.am.is_admin %}
            <a href="{% url restricted_amprofile uid=am.person.uid %}">[preferences]</a>
            {% endif %}
            {% if request.am.is_admin %}
            <a href="{% url admin:backend_am_change am.id %}">[admin]</a>
            {% endif %}
        </td>
    </tr>
    {% endif %}
</table>

{% if person|editable_by:request.am %}
<a href="{% url restricted_person key=person.lookup_key %}">edit</a>
{% endif %}

<h2>Personal history</h2>

{% usemacro process_table processes %}

{% if request.am.is_admin and not active_process %}
<a href="{% url restricted_newprocess key=person.lookup_key %}">new process</a>
{% endif %}

{% if adv_processes %}

<h2>Advocate history</h2>

{% usemacro process_table adv_processes %}

{% endif %}

{% if am %}

<h2>AM history</h2>

{% usemacro process_table am_processes %}

{% endif %}

{% endblock %}

