{% extends "public/base.html" %}
{% load nm %}
{% load macros %}
{% load js %}

{% block head_resources %}
  {{block.super}}
  {% jsinclude "nm" %}
{% endblock %}

{% macro process_table processes %}
<table>
    <thead>
        <tr>
            <th>Applicant</th>
            <th>From</th>
            <th>To</th>
            <th>Applying for</th>
            <th>Progress</th>
            <th>AM</th>
            <th>Advocate(s)</th>
    </thead>
    <tbody>
        {% for p in processes %}
        <tr>
        <td><a href="{{ p.get_absolute_url }}" title="{{p.person.fullname}}">{{p.person.uid|default:p.person.fullname}}</a></td>
            <td>{{p.started.date}}</td>
            <td>{{p.ended.date}}</td>
            <td>{{p.applying_for|desc_status}} ({{p.is_active|yesno:"in progress,done"}})</td>
            <td>
                {% if p.is_active %}
                <a href="{% url 'public_progress' progress=p.progress %}">{{p.progress|desc_progress}}</a>
                {% else %}
                {{p.progress|desc_progress}}
                {% endif %}
            </td>
            <td>
                {% if p.manager %}
                <a href="{{ p.manager.get_absolute_url }}" title="{{p.manager.person.fullname}}">{{p.manager.person.uid|default:"None"}}</a>
                {% else %}
                None
                {% endif %}
            </td>
            <td>
                {% for a in p.advocates.all %}
                <a href="{{ a.get_absolute_url }}" title="{{a.fullname}}">{{a.uid}}</a>{% if not forloop.last %},{% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}

{% block breadcrumbs %}{{block.super}} / <a href="{% url 'people' %}">people</a> / {{person.uid|default:person.fullname}}{% endblock %}

{% block relatedpages %}
<a href="{{person.get_ddpo_url}}">DDPO</a>
<a href="{{person.get_portfolio_url}}">Portfolio</a>
{% if request.person %}
<a href="{% url 'restricted_minechangelogs' key=person.lookup_key %}">changelogs</a>
{% endif %}
{% if request.am.is_admin %}
<a href="{% url 'admin:backend_person_change' person.id  %}">admin</a>
{% if can_be_am %}
<a href="{% url 'admin:backend_am_add' %}?person={{person.id}}">make am</a>
{% endif %}
{% if can_start_mm_ga_process %}<a href="{% url 'restricted_newprocess' key=person.lookup_key applying_for=STATUS_MM_GA %}">request guest account</a>{% endif %}
{% if can_start_dm_ga_process %}<a href="{% url 'restricted_newprocess' key=person.lookup_key applying_for=STATUS_DM_GA %}">request guest account</a>{% endif %}
{% if can_start_dm_process %}<a href="{% url 'restricted_newprocess' key=person.lookup_key applying_for=STATUS_DM %}">request DM</a>{% endif %}
{% if can_start_dd_u_process %}<a href="{% url 'restricted_newprocess' key=person.lookup_key applying_for=STATUS_DD_U %}">join NM (upl.)</a>{% endif %}
{% if can_start_dd_nu_process %}<a href="{% url 'restricted_newprocess' key=person.lookup_key applying_for=STATUS_DD_NU %}">join NM (nonupl.)</a>{% endif %}
{% endif %}
{% if can_advocate_as_dd %}<a href="{% url 'advocate_as_dd' key=person.lookup_key %}">advocate for DD</a>{% endif %}
{% if request.am.is_admin and request.person != person %}<a href="{% url 'impersonate' key=person.lookup_key %}?url={{request.build_absolute_uri}}">impersonate</a>{% endif %}
{{block.super}}
{% endblock %}

{% block content %}

<h1>{{person.fullname}}</h1>

{% include "public/personinfo.html" with person=person only %}

{% if person|editable_by:request.am %}
<a href="{% url 'restricted_person' key=person.lookup_key %}">edit</a>
{% endif %}

{% if person.bio or person|editable_by:request.am %}
<h2>Short Biography</h2>

<div class="personbio">
{% if person.bio %}
  <div class="expanded">
    {{bio_html|safe}}
  </div>
  <div class="collapsed">
    {{person.bio|truncatechars:128}} <span class="expander">(expand)</span>
  </div>
{% else %}
  (missing)
{% endif %}
</div>
{% endif %}

<h2>Personal history</h2>

{% usemacro process_table processes %}

{% if adv_processes %}

<h2>Advocate history</h2>

{% usemacro process_table adv_processes %}

{% endif %}

{% if am %}

<h2>AM history</h2>

{% usemacro process_table am_processes %}

{% endif %}

{% endblock %}
