From: {{request.person.fullname}} &lt;{{request.person.email}}&gt;
To: debian-newmaint@lists.debian.org
Subject: AM report for {{person.fullname}}

I recommend to accept {{person.fullname}} as a Debian Developer.

1. Identification &amp; Account Data
--------------------------------
   First name:      {{person.cn}}
   Middle name:     {{person.mn|default:"-"}}
   Last name:       {{person.sn|default:"-"}}
   Key fingerprint: {{person.fpr}}
   Account:         {{person.uid}}

2. Background
-------------
   [...applicant public short bio goes here...]

