{% spaceless %}
From: {{request.person.fullname}} &lt;{{request.person.email}}&gt;
To: Debian Keyring Maintainers &lt;keyring@rt.debian.org&gt;
Cc: Debian Account Managers &lt;da-manager@debian.org&gt;, {{person.fullname}} &lt;{{person.email}}&gt;
Reply-To: Debian Account Managers <da-manager@debian.org>
Subject: [Debian RT] Account for {{person.fullname}}
{% if request.person.uid == "joerg" %}
Organization: Goliath-BBS
Gcc: nnimap+gkar:Sentmail.DAM
--text follows this line--
<#secure method=pgp mode=sign>
{% endif %}
Hi

{% if person.status == STATUS_MM or person.status == STATUS_MM_GA %}
{% if process.applying_for == STATUS_DD_NU %}
Please make {{person.fullname}} (currently NOT a DM) a non-uploading DD.

Key {{person.fpr}} should be
added to the debian-nonupload keyring.
{% else %}
Please make {{person.fullname}} (currently NOT a DM) an uploading DD.

Key {{person.fpr}} should be
added to the DD keyring.
{% endif %}
{% endif %}

{% if person.status == STATUS_DM or person.status == STATUS_DM_GA %}
Please make {{person.fullname}} (currently a DM) an uploading DD.

Key {{person.fpr}} should be
removed from the DM keyring and added to the DD keyring.
{% endif %}

{% if person.status == STATUS_MM_GA or person.status == STATUS_DM_GA %}
Note that {{person.fullname}} already has an account in LDAP.
{% endif %}


  First name:      {{person.cn}}
  Middle name:     {{person.mn|default:"-"}}
  Last name:       {{person.sn}}
  Key fingerprint: {{person.fpr}}
  Account:         {{person.uid}}
  Forward email:   {{person.email}}

-- 
Thank you,

{{request.person.fullname}} (as DAM)
{% endspaceless %}
