{% extends "public/base.html" %}
{% load nm %}
{% load js %}

{% block head_resources %}
{{block.super}}
{% jsinclude "nm" %}
{% endblock %}

{% block head %}
{{block.super}}
<script type="text/javascript">
$(function() {
    var dam_mail = $("#dam-mail");
    var am_mail = $("#am-mail");
    var prog = $("#id_progress");
    var text = $("#id_logtext");

    function reset_fields() {
        dam_mail.hide();
        am_mail.hide();
        text.val(null);
    }
    reset_fields();

    $("#macro_am_confirm").click(function() {
        reset_fields();
        prog.val("{{PROGRESS_AM}}");
    });
    $("#macro_idok").click(function() {
        reset_fields();
        prog.val("{{PROGRESS_AM}}");
        text.val("ID check passed");
    });
    $("#macro_ppok").click(function() {
        reset_fields();
        prog.val("{{PROGRESS_AM}}");
        text.val("P&P check passed");
    });
    $("#macro_tsok").click(function() {
        reset_fields();
        prog.val("{{PROGRESS_AM}}");
        text.val("T&S check passed");
    });
    $("#macro_approve").click(function() {
        reset_fields();
        prog.val("{{PROGRESS_AM_OK}}");
        am_mail.show();
    });
    $("#macro_hold").click(function() {
        reset_fields();
        prog.val("{{PROGRESS_AM_HOLD}}");
        text.val("Please enter reason for hold");
    });
    $("#macro_unhold").click(function() {
        reset_fields();
        prog.val("{{PROGRESS_AM}}");
    });
    $("#macro_unassign").click(function() {
        reset_fields();
        prog.val("{{PROGRESS_APP_OK}}");
        text.val("Unassigned from {{process.manager.person.uid}} [TODO: please enter a reason]");
    });
    $("#macro_app_hold").click(function() {
        reset_fields();
        prog.val("{{PROGRESS_APP_HOLD}}");
        text.val("Please enter reason for hold");
    });
    $("#macro_app_approve").click(function() {
        reset_fields();
        prog.val("{{PROGRESS_APP_OK}}");
    });
    $("#macro_app_unhold").click(function() {
        reset_fields();
        prog.val("{{PROGRESS_ADV_RCVD}}");
    });
    $("#macro_fd_hold").click(function() {
        reset_fields();
        prog.val("{{PROGRESS_FD_HOLD}}");
        text.val("Please enter reason for hold");
    });
    $("#macro_fd_approve").click(function() {
        reset_fields();
        prog.val("{{PROGRESS_FD_OK}}");
    });
    $("#macro_fd_unhold").click(function() {
        reset_fields();
        prog.val("{{PROGRESS_AM_OK}}");
    });
    $("#macro_dam_hold").click(function() {
        reset_fields();
        prog.val("{{PROGRESS_DAM_HOLD}}");
        text.val("Please enter reason for hold");
    });
    $("#macro_dam_unhold").click(function() {
        reset_fields();
        prog.val("{{PROGRESS_FD_OK}}");
    });
    $("#macro_dam_approve").click(function() {
        reset_fields();
        prog.val("{{PROGRESS_DAM_OK}}");
        dam_mail.show();
    });
});
</script>
{% endblock %}

{% block breadcrumbs %}{{block.super}} / <a href="{{person.get_absolute_url}}">{{person.lookup_key}}</a> / <a href="{{ process.get_absolute_url }}">progress</a>{% endblock %}

{% block relatedpages %}
{{block.super}}
<a href="{{person.get_ddpo_url}}">DDPO</a>
<a href="{{person.get_portfolio_url}}">Portfolio</a>
{% if request.person %}
<a href="{% url restricted_minechangelogs key=person.lookup_key %}">changelogs</a>
{% endif %}
{% if request.person.is_admin %}
<a href="{% url admin:backend_process_change process.id %}">admin</a>
{% endif %}
{% endblock %}


{% block content %}

<h1>Status Page for {{person.fullname}}</h1>

<h2>Personal information</h2>

<table class="personinfo">
    <tr><th>Applicant</th><td><a href="{{person.get_absolute_url}}">{{person.fullname}} &lt;{{person.email}}&gt;</a></td></tr>
    <tr><th>Received application</th><td>{{started|date:"Y-m-d"}}</td></tr>
    <tr><th>Time of Last Action</th><td>{{last_change|date:"Y-m-d"}}</th></tr>
    <tr>
        <th>Advocate{{process.advocates.count|pluralize}}</th>
        <td>
            {% for a in process.advocates.all %}
            <a href="{{ a.get_absolute_url }}">{{a.uid}}</a>{% if not forloop.last %},{% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr><th>Account name</th><td>{{person.uid|default:"none chosen yet"}}</td></tr>
    <tr><th>OpenPGP fingerprint</th><td>{{person.fpr|fingerprint}}</td></tr>
    {% if process.manager %}
    <tr><th>Manager</th><td><a href="{{process.manager.get_absolute_url}}">{{process.manager.person.uid}}</a></td></tr>
    {% endif %}
    <tr><th>Process</th><td>{{process.applying_as|desc_status}} → {{process.applying_for|desc_status}}</td></tr>
    <tr><th>Progress</th><td>{{process.progress|desc_progress}}</td></tr>
    <tr><th>Account created</th><td>{% if process.progress == PROGRESS_DONE %}yes{% else %}no{% endif %}</td></tr>
    {% if can_edit %}
    <tr><th>FD comments</th><td>{{person.fd_comment}}</td></tr>
    {% endif %}
</table>
{% if can_edit %}
<a href="{% url restricted_person key=person.lookup_key %}">Edit personal information</a>
{% endif %}

{% if can_edit %}

<h2>Progress to become {{ process.applying_for|desc_status }}</h2>

<p>Current progress is: <b>{{ process.progress|desc_progress }}</b>.</p>

<form action="{{ request.build_absolute_uri }}" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
<p>
Shortcuts:
{% if request.am.is_fd or request.am.is_dam %}
    {% if process.progress == PROGRESS_ADV_RCVD %}
    <button type="button" id="macro_app_hold">Hold</button>
    <button type="button" id="macro_app_approve">Advocacies ok</button>
    {% endif %}

    {% if process.progress == PROGRESS_APP_HOLD %}
    <button type="button" id="macro_app_unhold">Remove hold</button>
    {% endif %}

    {% comment %}
    TODO: assign AM, field with uid and macros to fill it with a list of free ones
    ("PROGRESS_APP_OK",    "app_ok",    "Advocacies have been approved"),
    {% endcomment %}

    {% if process.progress == PROGRESS_AM_OK %}
    <button type="button" id="macro_fd_hold">FD hold</button>
    <button type="button" id="macro_fd_approve">Approve applicant</button>
    {% endif %}

    {% if process.progress == PROGRESS_FD_HOLD %}
    <button type="button" id="macro_fd_unhold">Back from FD hold</button>
    {% endif %}
{% endif %}

{% if process.progress == PROGRESS_AM_RCVD %}
<button type="button" id="macro_am_confirm">Confirm assignment</button>
<button type="button" id="macro_unassign">Unassign</button>
{% endif %}
{% if process.progress == PROGRESS_AM %}
<button type="button" id="macro_idok">ID check ok</button>
<button type="button" id="macro_ppok">P&amp;P ok</button>
<button type="button" id="macro_tsok">T&amp;S ok</button>
<button type="button" id="macro_approve">Approve applicant</button>
<button type="button" id="macro_hold">On hold</button>
<button type="button" id="macro_unassign">Unassign</button>
{% endif %}
{% if process.progress == PROGRESS_AM_HOLD %}
<button type="button" id="macro_unhold">Back from hold</button>
<button type="button" id="macro_unassign">Unassign</button>
{% endif %}

{% if request.am.is_dam %}
    {% if process.progress == PROGRESS_FD_OK %}
    <button type="button" id="macro_dam_hold">DAM hold</button>
    <button type="button" id="macro_dam_approve">Approve applicant</button>
    {% endif %}

    {% if process.progress == PROGRESS_DAM_HOLD %}
    <button type="button" id="macro_dam_unhold">Back from DAM hold</button>
    {% endif %}
{% endif %}
</p>
</form>

<p>Clicking on a Shortcut button will prefill the "Progress" form field, but will
not submit the form. That is so that you have a chance to add a log entry if
you wish to add a note to the progress update.</p>

{% if process.progress == PROGRESS_FD_OK %}
<div id="dam-mail">
<h2>Draft activation email</h2>
<textarea rows="25" cols="80">
{% include "public/process-damreport.html" %}
</textarea>
</div>
{% endif %}

{% if process.progress == PROGRESS_AM %}
<div id="am-mail">
<h2>Draft AM report</h2>
<textarea rows="25" cols="80">
{% include "public/process-amreport.html" %}
</textarea>
</div>
{% endif %}


{% endif %}

<h2>Process log</h2>

<table>
<thead>
    <tr>
        {% if request.am.is_admin %}
        <th>Actions</th>
        {% endif %}
        <th>Date</th>
        <th>Changed by</th>
        <th>Progress</th>
        {% if request.am %}
        <th>Text</th>
        {% endif %}
    </tr>
</thead>
<tbody>
    {% for l in log %}
    <tr>
        {% if request.am.is_admin %}
        <td><a href="{% url admin:backend_log_change l.id %}">edit</a></td>
        {% endif %}
        <td>{{l.logdate|date:"Y-m-d"}}</td>
        <td>
            <a href="{{l.changed_by.get_absolute_url}}">{{l.changed_by.uid}}</a>
        </td>
        <td>{{l.progress|desc_progress}}</td>
        {% if request.am %}
        <td>{{l.logtext}}</td>
        {% endif %}
    </tr>
    {% endfor %}
</tbody>
</table>

<h2>Further Steps</h2>

<table>
    {% for step in steps %}
    <tr>
        {% if forloop.counter0 < curstep_idx %}
        <td>done</td>
        {% endif %}
        {% if forloop.counter0 == curstep_idx %}
        <td>current</td>
        {% endif %}
        {% if forloop.counter0 > curstep_idx %}
        <td>todo</td>
        {% endif %}
        </td>
        <td>{{step|desc_progress}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}

