{% extends "public/base.html" %}
{% load const %}

{% block breadcrumbs %}{{block.super}} / <a href="{% url public_people %}">people</a> / {{progress|desc_progress}} {% endblock %}

{% block content %}

<h1>People in NM with progress {{progress|desc_progress}}</h1>

<table>
    <thead>
        <tr>
            <th>Applicant</th>
            <th>From</th>
            <th>To</th>
            <th>Applying for</th>
            <th>Progress</th>
            <th>AM</th>
            <th>Advocate(s)</th>
            {% if cur_am %}
            <th>Extras</th>
            {% endif %}
    </thead>
    <tbody>
        {% for p in processes %}
        <tr>
            <td><a href="{% url public_person key=p.person.lookup_key %}" title="{{p.person.fullname}}">{{p.person.uid|default:p.person.fullname}}</a></td>
            <td>{{p.started.date}}</td>
            <td>{{p.ended.date}}</td>
            <td>{{p.applying_for|desc_status}} ({{p.is_active|yesno:"in progress,done"}})</td>
            <td>{{p.progress|desc_progress}}</td>
            <td>
                {% if p.manager %}
                <a href="{% url public_person key=p.manager.person.lookup_key %}" title="{{p.manager.person.fullname}}">{{p.manager.person.uid|default:"None"}}</a>
                {% else %}
                None
                {% endif %}
            </td>
            <td>
                {% for a in p.advocates.all %}
                <a href="{% url public_person key=a.lookup_key %}" title="{{a.fullname}}">{{a.uid}}</a>{% if not forloop.last %},{% endif %}
                {% endfor %}
            </td>
            {% if cur_am %}
            <td>
                {% if cur_am.is_fd or cur_am.is_dam or cur_am == p.manager and p.is_active %}
                <a href="{% url restricted_nmstatus key=p.lookup_key %}">edit</a>
                {% endif %}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

