{% extends "public/base.html" %}
{% load nm %}

{% block breadcrumbs %}{{block.super}} / <a href="{% url 'people' %}">people</a> / {{progress|desc_progress}} {% endblock %}

{% block content %}

<h1>People in NM with progress {{progress|desc_progress}}</h1>

<table>
    <thead>
        <tr>
            <th>Applicant</th>
            <th>From</th>
            <th>To</th>
            <th>Applying for</th>
            <th>Progress</th>
            <th>AM</th>
            <th>Advocate(s)</th>
    </thead>
    <tbody>
        {% for p in processes %}
        <tr>
            <td><a href="{{ p.get_absolute_url }}" title="{{p.person.fullname}}">{{p.person.uid|default:p.person.fullname}}</a></td>
            <td>{{p.started.date}}</td>
            <td>{{p.ended.date}}</td>
            <td>{{p.applying_for|desc_status}} ({{p.is_active|yesno:"in progress,done"}})</td>
            <td>{{p.progress|desc_progress}}</td>
            <td>
                {% if p.manager %}
                <a href="{{ p.manager.get_absolute_url }}" title="{{p.manager.person.fullname}}">{{p.manager.person.uid|default:"None"}}</a>
                {% else %}
                None
                {% endif %}
            </td>
            <td>
                {% for a in p.advocates.all %}
                <a href="{{ a.get_absolute_url }}" title="{{a.fullname}}">{{a.uid}}</a>{% if not forloop.last %},{% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

