{% extends "public/base.html" %}
{% load nm %}
{% load js %}

{% block head_resources %}
  {{block.super}}
  {% jsinclude "tables" %}
{% endblock %}

{% block head %}
{{block.super}}
<script type="text/javascript">
$(function() {
    var bystatus = $("#bystatus");
    var byprogress = $("#byprogress");

    bystatus.tablesorter({
        textExtraction: function(node) {
            val = node.getAttribute("val");
            if (val == null)
                val = node.textContent || node.innerText;
            return val;
        },
    });

    byprogress.tablesorter({
        textExtraction: function(node) {
            val = node.getAttribute("val");
            if (val == null)
                val = node.textContent || node.innerText;
            return val;
        },
    });
});
</script>
{% endblock %}

{% block breadcrumbs %}{{block.super}} / <a href="{% url public_stats %}">stats</a>{% endblock %}

{% block content %}

<h1>Debian New Member - Statistics</h2>

<h2>People by status</h2>

<table id="bystatus" class="tablesorter">
<thead>
    <tr><th>Status</th><th>Count</th></tr>
</thead>
<tbody>
    {% for st, count in status_table %}
    <tr>
        <td val="{{st|seq_status}}">{{st|desc_status}}</td>
        <td>{{count}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>

<h2>Processes by progress</h2>

<table id="byprogress" class="tablesorter">
<thead>
    <tr><th>Progress</th><th>Count</th></tr>
</thead>
<tbody>
    {% for p, count in progress_table %}
    <tr>
        <td val="{{p|seq_progress}}">{{p|desc_progress}}</td>
        <td>{{count}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>


{% endblock %}

