{% extends "nm-base.html" %}

{% block content %}

<div id="intro">
    <p>This page contains answers to (more or less) Frequently Asked Questions
    about the site.</p>
</div>

<h1>nm.debian.org Frequently Asked Questions</h1>


<h2 id="process-lookup">My email address does not work with "/public/process"</h2>

<p>The nmstatus page shows a process, that is, the path a person follows to
change their status in Debian.</p>

<p>A process can be looked up in several way: an ID in the database, a Debian
login name, or an email address.</p>

<p>If you have a Debian account, the easiest way to lookup your information is
by using your account name, as in 
<a href="{% url 'public_process' key='enrico' %}">{% url 'public_process' key='enrico' %}</a>.</p>

<p>If you do not yet have a Debian account, then you can use the E-Mail address
that you used to enter NM.</p>


<h2 id="missing-referer">The site gives me 403 Forbidden errors if I disable referers</h2>

<p>Believe it or not, that is a security feature. Please see
<a href="http://groups.google.com/group/django-developers/browse_thread/thread/22058adaf11e3ed6">this thread</a>
for more information (look for the string "detonate-bomb" for an attack
scenario).</p>

{% endblock %}
