{% extends "nm-base.html" %}

{% block content %}

<div id="intro">
    <p>This is the New Member Process website. Unfinished, but functional. Many
    features are still being added.</p>
</div>

General site features, available to all:

<ul>
    <li><a href="{% url people %}">List of all known people</a></li>
    <li><a href="{% url managers %}">List of Application Managers</a></li>
    <li><a href="{% url processes %}">List of open or recent processes</a></li>
</ul>

General site features still needing work:

<ul>
    <li><a href="{% url public_newnm %}">Join the NM process</a> (TODO: actually implement it, now it's just a checklist for applying via email)</li>
    <li>TODO: stats (former index.php, stats.php, leaderboard.php, nmgraph.php)</li>
</ul>

If you are an Application Manager, you can look at:

<ul>
    <li><a href="{% url restricted_ammain %}">AM main page</a></li>
    <li><a href="{% url restricted_amprofile %}">AM personal settings</a></li>
    <li><a href="{% url restricted_db_export %}">Database export you can use to setup a development site</a></li>
</ul>

{% endblock %}
