{% extends "public/base.html" %}
{% load nm %}
{% load js %}

{% block head_resources %}
  {{block.super}}
  {% jsinclude "nm" %}
{% endblock %}

{% block breadcrumbs %}{{block.super}} / <a href="{% url 'inconsistencies_list' %}">inconsistency list</a>{% endblock %}

{% block content %}

<h2>Inconsistency status for fingerprint {{fpr}}</h2>

<h3>Log</h3>

<ul>
  {% for msg in log %}
  <li><tt>{{msg}}</tt></li>
  {% endfor %}
</ul>

<h3>Info</h3>

{% include "inconsistencies/keytable.html" %}

<h3>Guesses</h3>

{% include "inconsistencies/guesses.html" %}

{% endblock %}

