{% extends "public/base.html" %}
{% load nm %}
{% load js %}

{% block head_resources %}
  {{block.super}}
  {% jsinclude "tables" %}
{% endblock %}

{% block head %}
{{block.super}}
<script type="text/javascript">
$(function() {
    $(".inctable").tablesorter({
        textExtraction: function(node) {
            val = node.getAttribute("val");
            if (val == null)
                val = node.textContent || node.innerText;
            return val;
        },
    });
});
</script>
{% endblock %}

{% block content %}

<div id="intro">
  This is a list of all inconsistencies found during the last maintenance. It
  is the starting point for trying to fix them.
</div>

<h2>Inconsistencies in Person records</h2>

<table class="inctable tablesorter">
  <thead>
    <tr><th>Person</th><th>log</th><th>Info</th><th>Age</th></tr>
  </thead>
  <tbody>
  {% for i in by_person %}
  <tr>
    <td><a href="{{i.get_absolute_url}}">{{i.person.fullname}}</a></td>
    <td val="{{i.info_log|length}}">
      <ul>
        {% for msg in i.info_log %}
        <li><tt>{{msg}}</tt></li>
        {% endfor %}
      </ul>
    </td>
    <td>{% include "inconsistencies/keytable.html" with inconsistency=i skip_header=True %}</td>
    <td val={{i.created|date:"c"}}>{{i.created|timesince}}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

<h2>Inconsistencies in Process records</h2>

<table class="inctable tablesorter">
  <thead>
    <tr><th>Process</th><th>log</th><th>Info</th><th>Age</th></tr>
  </thead>
  <tbody>
  {% for i in by_process %}
  <tr>
    <td><a href="{{i.process.get_absolute_url}}">{{i.process.fullname}}</a></td>
    <td val="{{i.info_log|length}}">
      <ul>
        {% for msg in i.info_log %}
        <li><tt>{{msg}}</tt></li>
        {% endfor %}
      </ul>
    </td>
    <td>{% include "inconsistencies/keytable.html" with inconsistency=i skip_header=True %}</td>
    <td val={{i.created|date:"c"}}>{{i.created|timesince}}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

<h2>Inconsistencies in fingerprint records</h2>

<table class="inctable tablesorter">
  <thead>
    <tr><th>Fingerprint</th><th>log</th><th>Info</th><th>Age</th></tr>
  </thead>
  <tbody>
  {% for i in by_fpr %}
  <tr>
    <td><a href="{{i.get_absolute_url}}">{{i.fpr}}</a></td>
    <td val="{{i.info_log|length}}">
      <ul>
        {% for msg in i.info_log %}
        <li><tt>{{msg}}</tt></li>
        {% endfor %}
      </ul>
    </td>
    <td>{% include "inconsistencies/keytable.html" with inconsistency=i skip_header=True %}</td>
    <td val={{i.created|date:"c"}}>{{i.created|timesince}}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}

